<div class="container"> 
  <div class="row">
    <div class="col">
      <h1>Users | Create Account</h1>
    </div>
  </div>
</div>
<%@submit_text = "Create User"%>
<%= render "form", product: @product %>
