<div class="container"> 
  <div class="row">
    <div class="col">
      <h1>Users | View Account</h1><br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><strong>Username | </strong><%= @user.name %></p>
    </div>
  </div>
</div>
