<div class="container">
    <div class="row">
        <div class="col">
            <h1>Erots | What can we do for you?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><%= @products.count %> | Products and counting</p>
        </div>
    </div>
</div>