<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello | What can we do for you?</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><%= @products.count %> | Products and counting</p>
            <br>
        </div>
    </div>
    <div class="row">
        <br>
        <h2><strong>FAQ's</strong></h2>
        <div class="col">
            <h3>What do we sell?</h3>
            <br>
            <p>Absolutely nothing, this website is entirely for show so dont expect anything to actualy come to you. However, if you want to give me you credit card info, I'll take it</p>
        </div>
        <div class="col">
            <h3>Where did we come from?</h3>
            <br>
            <p>Blood, sweat, tears, and pounds upon pounds of caffine. This website is the product of the a college project to learn the Ruby on Rails system.</p>
        </div>
        <div class="col">
            <h3>Who are we?</h3>
            <br>
            <p>A bunch of broke college students. Well one specifically, but that's a story for another time.</p>
        </div>
    </div>
    
</div>