<div class="container">
    <div class="row">
        <div class="col">
            <h1>Products | Treat yourself</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @products.each do |product| %>
        <div class="col">
          <div class="card">
            <% if product.image.attached? %>
              <%= image_tag(product.image, class: "card-img-top") %>
            <% end %>
            <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h5 class="card-title"><strong><%= link_to "#{product.name} | $#{product.price} ", product_path(product), class: "title" %></strong></h5>
              </div>
              <div class="col" style="text-align: right">
                <button class="btn-dark btn-sm" type="button"><%= link_to "Buy", "/products/#{product.id}/buy"%></button>
              </div>
              </div>
              <p class="card-text"><%= truncate(product.description,length:100,separator:' ') %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
        <div class="col">
            <br>    
        </div>
    </div>
</div>